<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IDC ROBOCON 2020 OFFICIAL WEBSITE</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<center>
	<table class="top">
			<tr>
				<td><a href="https://www.tsinghua.edu.cn/" target="_blank"><img src="../static/img/1.jpg" alt="tsinghua" width="320px"></a></td>
				<td><a href="http://www.idc-robocon.org/"><img src="../static/img/22.png" alt="robocon" width="260px"></a></td>
				<td><a href="https://www.tsinghua.edu.cn/" target="_blank"><img src="../static/img/3.jpg" alt="tsinghua" width="320px"></a></td>
			</tr>
	</table>
	<table class="navigator">
		<tr>
		  <td ><a href="/" >►Top</a></td>
		  <td ><a href="about" >►About IDC Robocon</a></td>
		  <td ><a href="contest" >►Comptetion</a></td>
      <td ><a href="team" >►Team</a></td>
      <td ><a href="schedule">►Match schedule</a></td>
		  <td ><a href="weblink" >►Links</a></td>
		</tr>
	</table>
	<div style="height:10px"></div>
<!--	中部主体-->
	<div style="width: 900px;height: 1700px;display: flex;flex-direction:row;">
<!--		中左边部分-->
		<div style="width: 700px; display: flex;flex-direction: column;">
			<p style="font-size: 30px;color: rgb(69, 135, 197);font-family:Consolas">比赛成绩录入</p>

			<div style="height: 20px"></div>
			<div style="width: 690px;height: 500px;background: rgb(120, 165, 218);border: black solid 3px">
				<p style="font-size: 27px;font-family:Consolas">成绩录入</p>
                <form>

                    <label>比赛场次：</label>
                    <label>1<input type="radio" name="num" value="1"></label>
                    <label>2<input type="radio" name="num" value="2"></label>
                    <label>3<input type="radio" name="num" value="3"></label>
                    <label>4<input type="radio" name="num" value="4"></label>
                    <label>5<input type="radio" name="num" value="5"></label>
                    <label>6<input type="radio" name="num" value="6"></label>
                    <br>
                    <label>队伍1：</label>
                    <label>红队<input type="radio" name="team1" value="red"></label>
                    <label>黄队<input type="radio" name="team1" value="yellow"></label>
                    <label>蓝队<input type="radio" name="team1" value="blue"></label>
                    <label>绿队<input type="radio" name="team1" value="green"></label>
                    <br>
                    <label>队伍2：</label>
                    <label>红队<input type="radio" name="team2" value="red"></label>
                    <label>黄队<input type="radio" name="team2" value="yellow"></label>
                    <label>蓝队<input type="radio" name="team2" value="blue"></label>
                    <label>绿队<input type="radio" name="team2" value="green"></label>
                    <br>
                    <label>队伍1得分：</label>
                    <label>0<input type="radio" name="grade1" value="0"></label>
                    <label>1<input type="radio" name="grade1" value="1"></label>
                    <label>2<input type="radio" name="grade1" value="2"></label>
                    <label>3<input type="radio" name="grade1" value="3"></label>
                    <br>
                    <label>队伍2得分：</label>
                    <label>0<input type="radio" name="grade2" value="0"></label>
                    <label>1<input type="radio" name="grade2" value="1"></label>
                    <label>2<input type="radio" name="grade2" value="2"></label>
                    <label>3<input type="radio" name="grade2" value="3"></label>
                    <br>
                    <input type="text" style="visibility: hidden;" name="formid" value="1" > 
                    <input type="submit" value="提交">
                </form>
                <form>
                    <p style="font-size: 27px;font-family:Consolas">决赛队伍</p>
                    <label>队伍1：</label>
                    <label>红队<input type="radio" name="final1" value="red"></label>
                    <label>黄队<input type="radio" name="final1" value="yellow"></label>
                    <label>蓝队<input type="radio" name="final1" value="blue"></label>
                    <label>绿队<input type="radio" name="final1" value="green"></label>
                    <br>
                    <label>队伍2：</label>
                    <label>红队<input type="radio" name="final2" value="red"></label>
                    <label>黄队<input type="radio" name="final2" value="yellow"></label>
                    <label>蓝队<input type="radio" name="final2" value="blue"></label>
                    <label>绿队<input type="radio" name="final2" value="green"></label>
                    <br>
                    <input type="text" style="visibility: hidden;" name="formid" value="2" > 
                    <input type="submit" value="提交">
                </form>
                <form>
                  <p style="font-size: 27px;font-family:Consolas">总冠军</p>
                  <label>红队<input type="radio" name="winner" value="red"></label>
                  <label>黄队<input type="radio" name="winner" value="yellow"></label>
                  <label>蓝队<input type="radio" name="winner" value="blue"></label>
                  <label>绿队<input type="radio" name="winner" value="green"></label>
                  <input type="text" style="visibility: hidden;" name="formid" value="3" > 
                  <input type="submit" value="提交">
              </form>
			</div>
			
		</div>
<!--		中间主体的右侧部分-->
		<div style="width: 200px; display: flex;flex-direction: column;">
			<a href="https://www.tsinghua.edu.cn/" target="_blank"><img alt="Tsinghua" src="../static/img/ts.jpg" style="width: 120px"></a>
			<a href="https://www.titech.ac.jp/" target="_blank"><img alt="东京工业大学" src="../static/img/titech.png" style="width: 170px"></a>
			<a href="https://www.mit.edu/" target="_blank"><img alt="MIT" src="../static/img/MIT.jpg" style="width: 160px"></a>
			<a href="#" target="_blank"><img alt="#"></a>
			<a href="#" target="_blank"><img alt="#"></a>
		</div>
	</div>
	<div>All contents and all other img copyright © Tsinghua University 2021 the webmaster of this website.</div>
</center>
</div>
</body>
</html>
