<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> GUEST </title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-reboot.min.css"
        rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <img src="../static/img/head.jpg" style="max-width: 100%;">
        </div>
        <div class="row text-center" style="background-color:violet; font-weight: bold; margin-bottom: 20px;">
            <div class="col-md-2">
                <a href="/"> ►TOP </a>
            </div>
            <div class="col-md-3">
                <a href="/about"> ► About IDC Robocon </a>
            </div>
            <div class="col-md-3">
                <a href="/comp">
                ► Competition </a>
            </div>
            <div class="col-md-2">
                <a href="/team"> ► Team </a>
            </div>
            <div class="col-md-2">
                <a href="/link">
                ► Links </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-9" style="font-weight: bold; font-size: 14px; margin-left: 38px;">
                <div class="row" style="font-size: 25px; background-color: violet; padding-left: 12px;">
                    ► Guest

                </div>

                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                          </li>
                          
                        <li class="nav-item">
                          <a class="nav-link active" href="/guest">Guest</a>
                        </li>
                        
                      </ul>
                    
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        
                    <img src="../static/img/cat.jpg" style="max-width: 100%">
                    <img src="../static/img/dog.jpg" style="max-width: 100%">
                    <img src="../static/img/rat.jpg" style="max-width: 100%">
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
</body>

</html>