<html>

<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-reboot.min.css"
        rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <img src="../static/img/head.jpg" style="max-width: 100%;">
        </div>
        <div class="row text-center" style="background-color:violet; font-weight: bold; margin-bottom: 20px;">
            <div class="col-md-2">
                ►TOP
            </div>
            <div class="col-md-3">
                ► About IDC Robocon
            </div>
            <div class="col-md-3">
                ► Competition
            </div>
            <div class="col-md-2">
                ► Team
            </div>
            <div class="col-md-2">
                ► Links
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold; font-size: 14px; margin-left: 18px;">
                <div class="row">
                    ► IDC 2018 Daily Reports
                </div>
                <div class="row"
                    style="font-size: 17px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    About IDC Robocon

                </div>
                <div class="row">
                    ► About IDC Robocon
                </div>
                <div class="row">
                    ► Event Outline
                </div>
                <div class="row">
                    ► History
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Competition
                </div>
                <div class="row">
                    ► Competition Rule
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Participants
                </div>
                <div class="row">
                    ► team
                </div>
                <div class="row">
                    ► Participanting Universities
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Links
                </div>
                <div class="row">
                    ► Sponsors
                </div>
                <div class="row">
                    ► Websites
                </div>








            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <div class="col-md-12">

                        <div> Welcome to </div>
                        <div>
                            the official website of IDC Robocon 2018 ! ||{{dd}}|| </div>
                                

                            
                    </div>

                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
</body>

</html>