<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>IDC ROBOCON 2020 OFFICIAL WEBSITE</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<center>
	<table class="top">
			<tr>
				<td><a href="https://www.tsinghua.edu.cn/" target="_blank"><img src="../static/img/1.jpg" alt="tsinghua" width="320px"></a></td>
				<td><a href="http://www.idc-robocon.org/"><img src="../static/img/22.png" alt="robocon" width="260px"></a></td>
				<td><a href="https://www.tsinghua.edu.cn/" target="_blank"><img src="../static/img/3.jpg" alt="tsinghua" width="320px"></a></td>
			</tr>
	</table>
	<table class="navigator">
		<tr>
		  <td ><a href="/" >►Top</a></td>
		  <td ><a href="about" >►About IDC Robocon</a></td>
		  <td ><a href="contest" >►Comptetion</a></td>
		  <td ><a href="team" >►Team</a></td>
		  <td ><a href="weblink" >►Links</a></td>
		</tr>
	</table>
	<div style="height:10px"></div>
<!--	中部主体-->
	<div style="width: 900px;height: 1700px;display: flex;flex-direction:row;">
<!--		中左边部分-->
		<div style="width: 700px; display: flex;flex-direction: column;">
			<p style="font-size: 30px;color: rgb(69, 135, 197);font-family:Consolas">► Contest</p>
			<table class="midchart" >
				<tr >
					<td style="background: rgb(69, 135, 197);"><center><a href="contest" style="font-family:Consolas;">Competition Rules</a></center></td>
					<td style="background: rgb(120, 165, 218);border: black solid 3px;"><center><span style="font-family:Consolas;">Match Schedule</span></center></td>
					<td style="background: white;"></td>
				</tr>
			</table>
			<div style="height: 20px"></div>
			<div style="width: 690px;height: 500px;background: rgb(120, 165, 218);border: black solid 3px">
				<p style="font-size: 27px;font-family:Consolas">Match Schedule</p>
				<p style="font-family:Consolas">2020.12.2 ~ 2020.12.22</p>
				<span style="display: flex;padding: 5px"> <strong> [Specific Plan]</strong></span>
                <table style="border:3px solid black;border-collapse: collapse;">
                    <style>
                        .plan{
                            border: solid black 2px;
                            padding: 5px;
                        }
                    </style>
                    <tr>
                        <th class="plan">Games</th>
                        <th class="plan">Team 1</th>
                        <th class="plan">Team 2</th>
                        <th class="plan">Time</th>
                        <th class="plan">Place</th>
                        <th class="plan">Content</th>
                    </tr>
                    <tr>
                        <td class="plan">1</td>
                        <td class="plan">red</td>
                        <td class="plan">blue</td>
                        <td class="plan">12.2 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">2</td>
                        <td class="plan">yellow</td>
                        <td class="plan">green</td>
                        <td class="plan">12.4 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">3</td>
                        <td class="plan">red</td>
                        <td class="plan">yellow</td>
                        <td class="plan">12.6 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">4</td>
                        <td class="plan">blue</td>
                        <td class="plan">green</td>
                        <td class="plan">12.8 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">5</td>
                        <td class="plan">red</td>
                        <td class="plan">green</td>
                        <td class="plan">12.10 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">6</td>
                        <td class="plan">blue</td>
                        <td class="plan">yellow</td>
                        <td class="plan">12.12 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                    <tr>
                        <td class="plan">Finals</td>
                        <td class="plan">?</td>
                        <td class="plan">?</td>
                        <td class="plan">12.22 2:00pm</td>
                        <td class="plan">Tsinghua University</td>
                        <td class="plan">robot control</td>
                    </tr>
                </table>
				
				<br>
			</div>
			

	
		</div>
<!--		中间主体的右侧部分-->
		<div style="width: 200px; display: flex;flex-direction: column;">
			<a href="https://www.tsinghua.edu.cn/" target="_blank"><img alt="Tsinghua" src="../static/img/ts.jpg" style="width: 120px"></a>
			<a href="https://www.titech.ac.jp/" target="_blank"><img alt="东京工业大学" src="../static/img/titech.png" style="width: 170px"></a>
			<a href="https://www.mit.edu/" target="_blank"><img alt="MIT" src="../static/img/MIT.jpg" style="width: 160px"></a>
			<a href="#" target="_blank"><img alt="#"></a>
			<a href="#" target="_blank"><img alt="#"></a>
		</div>
	</div>
	<div>All contents and all other images copyright © Tsinghua University 2021 the webmaster of this website.</div>
</center>
</div>
</body>
</html>
