<html>

<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-reboot.min.css"
        rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <img src="../static/img/head.jpg" style="max-width: 100%;">
        </div>
        <div class="row text-center" style="background-color:violet; font-weight: bold; margin-bottom: 20px;">
            <div class="col-md-2">
                <a href="/"> ►TOP </a>
            </div>
            <div class="col-md-3">
                <a href="/about"> ► About IDC Robocon </a>
            </div>
            <div class="col-md-3">
                <a href="/comp">
                    ► Competition </a>
            </div>
            <div class="col-md-2">
                <a href="/team"> ► Team </a>
            </div>
            <div class="col-md-2">
                <a href="/link">
                    ► Links </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold; font-size: 14px; margin-left: 18px;">
                <div class="row">
                    ► IDC 2018 Daily Reports
                </div>
                <div class="row"
                    style="font-size: 17px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    About IDC Robocon

                </div>
                <div class="row">
                    ► About IDC Robocon
                </div>
                <div class="row">
                    ► Event Outline
                </div>
                <div class="row">
                    ► History
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Competition
                </div>
                <div class="row">
                    ► Competition Rule
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Participants
                </div>
                <div class="row">
                    ► team
                </div>
                <div class="row">
                    ► Participanting Universities
                </div>
                <div class="row"
                    style="font-size: 18px; background-color: violet; margin-left: -30px; padding-left: 12px;">
                    Links
                </div>
                <div class="row">
                    ► Sponsors
                </div>
                <div class="row">
                    ► Websites
                </div>
            </div>

            <div class="col-md-9">
                
                <div style='text-align: center; margin-top: 80px;'>
                    <div style="width: 30%;margin: 0 auto;">
                        <span style='float: left; line-height: 32px; font-size: 16px;margin:auto 0;'>账号：</span>
                        <div style="display: inline; margin-left: 40%">
                            <div class="input-group" style="margin: 0 auto;">
                                <input type="text" class="form-control">
            <!--
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">提交</button>
                                </span>
            -->
                            </div>
                        </div>
                        
                    </div>
                    <div> </div>
                    <div style="width: 30%;margin: 0 auto; position: relative">
                        <span style='float: left; line-height: 32px; font-size: 16px;margin:auto 0;'>密码：</span>
                        <div style="display: inline; margin-left: 40%">
                            <div class="input-group" style="margin: 0 auto;">
                                <input type="text" class="form-control">
            <!--
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">提交</button>
                                </span>
            -->
                            </div>
                        </div>
                        
                        <div> </div>
                        
                        <span class="input-group-btn" style="position: absolute; right: 70">
                                    <button class="btn btn-default" type="button">提交</button>
                        </span>
                        
                    </div>
                </div>
                
            </div>

            <div class="col-md-1"></div>
        </div>
</body>

</html>